header .header_bx{
    position: relative;
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;  /* Horizontally centers the child */
    align-items: center;
}

header .header_bx::before{
    margin: 0;
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: url('images/header-background2.jpg')no-repeat center center/cover; 
    z-index: -1;
    filter: blur(1px);
    -webkit-filter: blur(1px);

}


#trip-types .row .col img{
    height: 50px;
    width: 50px;
}

#search_bx{
    position: relative;
    z-index: 1;
    margin-top: 13%;
}