@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{

    --c-dark: #212529;
    --c-brand: #4e57d4;
    --c-brand-light: #6970dd;
    --c-brand-rgb: 78, 87, 212;
    --c-body: #727272;
    --font-base: "Poppins", sans-serif;
    --box-shadow: 0px 15px 25px rgba(0,0,0,0.08);
    --transition: all .5s ease;
    --bg-color: #fff;
    --main-hue: 208;
    --main-color: hsl(var(--main-hue), 92%, 54%);
    --text-color: #000;
    --light-text-color:#9ca7b6;
    --input-bg: hsla(var(--main-hue), 50% , 50%, 6.5%);
    --input-bg-hover: hsla(var(--main-hue), 50% , 50%, 14%);
    --input-text: #8c9aaf;
    --light-main-color: hsl(var(--main-hue), 91% , 55%);
}
@keyframes moveBackground {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 100%;
    }
}

body{
    font-family: var(--font-base);
    line-height: 1.7;
    color: var(--c-body);
    background: linear-gradient(rgba(0,0,0,0.507), rgba(0,0,0,0.438)), url(../assets/images/animation.jpg) repeat;
            background-size: cover;
    animation: moveBackground 20s linear infinite;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
    font-weight: 600;
    color: var(--c-dark);
}

a {
    text-decoration: none;
    color: var(--c-brand);
    transition: var(--transition);
}

a:hover{
    color: var(--c-vbrand-light);
}

img{
    max-width: 100%;
    height: auto;
}

/* NAVBAR */

.navbar{

    box-shadow: var(--box-shadow);
}

.navbar-nav .nav-link{

    font-weight: 500;
    color: var(--c-dark);
}

.navbar-nav .nav-link.active{
    color: var(--c-brand)
}

/* BTN */
.btn {
    border-radius: 0;
    padding: 10px 24px;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
}

.btn-brand {
    background-color: var(--c-brand);
    color: white;
}

.btn-brand:hover{

    background-color: var(--c-brand-light);
    border-color: var(--c-brand-light);
    color: white;
}

/* HERO */

#home{

    background: linear-gradient(rgba(0,0,0,0.507), rgba(0,0,0,0.438)), url(../assets/images/background.jpg);
    background-position: center;
    background-size: cover;
}


/* section title */

#services{

    background-color: var(--bg-color);
}
.section-title{
    margin-bottom: 40px;

}

.section-title .line{

    width: 60px;
    height: 4px;
    background-color: var(--c-brand);
    margin: 16px auto;
}

.section-title .line{

    width: 60px;
    height: 4px;
    background-color: var(--c-brand);
    margin: 16px auto;
}

.section-title p{
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
}

.search_bx{
    background: linear-gradient(rgba(49, 47, 47, 0.507), rgba(94, 88, 88, 0.438));
    color: white;
    padding: auto;
    padding-bottom: 10px;
    border-radius: 10px;
    
}

.form-label{

    font-weight: 500;
    color: white;
}

.form-control{

    width: 80%;
    margin-left: 9%;

}

#flights{

    background : linear-gradient(rgba(0,0,0,0.507), rgba(0,0,0,0.438)), url(../assets/images/background2.jpg);
    background-position: center;
    background-size: cover;
    color: white;
}

#flights .container .row:nth-child(2) .col-lg-6 img{
    opacity: 0.6;
    transition: opacity 0.5s ease;
    border-radius: 20px;
}

#submit-btn {
    width: 30%;

}

.section-padding{
    margin-top: 10px;
    padding-top: 80px;
    padding-bottom: 80px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
    height: 80%; 
}

.theme-shadow{
    box-shadow: var(--box-shadow);
}

/* iconbox */
.iconbox {
    width: 70px;
    height: 70px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba(var(--c-brand-rgb), 0.1);
    color: var(--c-brand);
    font-size: 34px;
    flex: none;
}

/* service */

.service{

    position: relative;
    overflow: hidden;
    z-index: 2;
    height: 90%;
}

.service::after{
    content: "";
    width: 40px;
    height: 40px;
    background: rgba(var(--c-brand-rgb), 0.2);
    position: absolute;
    bottom: 0;
    right: 0;
    transition: var(--transition);
}

.service:hover::after{

    width: 100%;
    height: 100%;
    background: var('--c-brand');
    z-index: -1;
}

.service:hover h5, .service:hover p{
  color: var(--c-dark);

}

.service:hover .iconbox{
    background-color: rgba(255,255,255,0.2);
    color: white;
}

/* hotels */

#hotels{

align-items: center;
background : linear-gradient(rgb(167, 163, 163), rgba(78, 76, 76, 0.438)), url(../assets/images/hotel-background.jpg);
    background-position: center;
    background-size: cover;
}

.example-images{
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
    height: 100%;

}

.contact-heading h1{
    font-weight: 600;
    color: var(--text-color);
    font-size: 3.5rem;
    line-height: 0.9;
    white-space: nowrap;
    margin-bottom: 1.2rem;
    align-items: center;

}

.contact-heading h1 span{
    color: var(--main-color);
}

.text{
    color: var(--light-text-color);
    line-height: 1.1;
    font-size: 1rem;
}

.form-icons{
    width: 15px;
    height: 15px;
    position: absolute;
    right: calc(1.35rem + 2px);
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: var(--input-text);
    font-size: 1.25rem;
    transform: .3s;
    
}

.input-wrap{
    position: relative;

}

.input-wrap.w-100{
    grid-column: span 2;
}

.book-input{
    width: 100%;
    background-color: rgb(224, 214, 214);
    padding: 1.5rem 1.35rem calc(0.75rem - 2px) 1.35rem;
    border: none;
    outline: none;
    font-family: inherit;
    border-radius: 20px;
    color: var(--c-dark);
    font-weight: 600;
    font-size: 0.95rem;
    border: 2px solid transparent;
    box-shadow: 0 0 0px hsla(var(--main-hue), 92%, 54%, 0.169);
    transition: .3s;
    
}

.book-input:hover{
    background-color: var(--input-bg);
}

.input-wrap label{
    position: absolute;
    top: 50%;
    left: calc(1.35rem + 2px);
    transform: translateY(-50%);
    color: var(--c-dark);
    pointer-events: none;
    transition: .25s;
}

.check{

    padding-bottom: 2rem;
    margin-bottom: 0px;
}

.form-wrapper{
    max-width: 32rem;
}

.input-wrap.focus .book-input{

    background-color: var(--bg-color);
    border: 2px solid var(--light-main-color);
    box-shadow: 0 0 0 5px hsla(var(--main-hue), 91% , 55%, 0.11);

}

.input-wrap.focus label{
    color: var(--light-main-color);

}

.input-wrap.focus img{
    color: var(--light-main-color);
    
}

.input-wrap.not-empty label{
    font-size: .66rem;
    top: 0.75rem;
    transform: translateY(0);
}

.custom-form{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    height: 40%;
}

.custom-form input[type="submit"]{
    margin-left: 40%;
    margin-right: 25%;
}
