
.custom-nav{
    background-color: white;
    border: 1px solid blue;
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
    position: absolute;
    margin-top: 2%;
    height: 19%;
}

.search-box{
    position: relative;
    top: 60px;
    height: 100%;
    border: 1px solid black;
    z-index: -1;
}

.custom-image{
    height: 60%;
    width: 60%;
}
